#box01 {
    width: 1000px;
    height: 600px;
    background-color: pink;
    background-image: url(../img/btn.png);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
}