/* reset */
* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none;}
body { font-family: 'Nanum Gothic', sans-serif;}

/* outline */
#wrap {
    width: 900px;
    margin: 0 auto;
}
header {
    width: 900px; height: 80px;
    background-color: #ed97fb;
}
#contents {
    width: 900px;
    background-color: #999;
    /* overflow: hidden; */
}
#contents nav {
    width: 240px; height: 340px;
    background-color: #fe9757;
    float: left;
    padding: 30px;
}
#contents section {
    width: 560px; height: 360px;
    background-color: #f8fe57;
    float: right;
    padding: 20px;
}
footer {
    width: 900px; height: 80px;
    background-color:  #9c2a72;
    clear: both;
}

/* header */
header h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    line-height: 80px;
    font-size: 2.5em;
    color: #d80089;
    text-shadow: 2px 2px 3px #5d5d5d;
    font-weight: normal;
}

/* contents */
nav h2 {
    color: #007497;
    font-size: 28px;
}
nav ul {
    margin: 15px 0 15px 20px;
}
nav ul li {
    margin-bottom: 5px;
}
nav ul li a {
    color: #000;
    font-weight: bold;
}
nav ul li a:hover {
    color: #fff;
}
nav figure {
    margin-left: 20px;
}
nav figure p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

section article {
    /* border: 1px solid #000; */
    margin-bottom: 20px;
}
section article h3 {
    margin-bottom: 10px;
    background-color: #f8db03;
    /* line-height: 40px; */
    padding: 7px;
}
section article p {
    font-size: 17px;
    line-height: 25px; /*행간*/
    letter-spacing: -1px; /*자간*/
}

/* footer */
footer address {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    text-align: center;
    line-height:80px;
}