/* reset */
* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none;}
img { border: 0;}
body {font-family: 'Nanum Gothic', sans-serif;}

/* layout */
header {
    width: 960px; height: 160px;
    background-color: pink;
    margin: 0 auto;
    /* 가운데 정렬 */
    position: relative;
    /* 절대좌표의 기준점 */
}
#contents {
    width: 960px;
    background-color: yellow;
    margin: 0 auto;
    overflow: hidden;
}
footer {
    width: 960px; height: 100px;
    background-color: bisque;
    margin: 0 auto;
}

/* header */
#title {
    position: absolute;
    top: 30px; left: 30px;
}
#title  h1 {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    color: #c600bf;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
#title  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 26px;
    color: #1abcf7;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#gnb {
    position: absolute;
    right: 10px; bottom: 16px;
}
#gnb ul { overflow: hidden;}
#gnb ul li {
    float: left;
}
#gnb ul li a {
    display: block; /*important!!!!*/
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background-color: yellow;
    padding: 15px 20px;
    border: 1px solid #000;
    transition: 1s;
}
#gnb ul li a:hover {
    color: #fff;
    background-color: red;
}
#gnb ul li:first-child a { 
    border-radius: 15px 0 0 15px;
}
#gnb ul li:last-child a {
    border-radius: 0 15px 15px 0;
}

#lnb {
    position: absolute;
    right: 10px; top: 5px;
}
#lnb ul { overflow: hidden;}
#lnb ul li {
    float: left;
}
#lnb ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #a1e6ff;
    color: #c600bf;
    border: 1px solid #000;
    transition: 0.5s;
}
#lnb ul li a:hover {
    color: #a1e6ff;
    background-color:#c600bf;
}
#lnb ul li:first-child a {
    border-radius: 10px 0 0 10px;
} 
#lnb ul li:last-child a {
    border-radius: 0 10px 10px 0;
} 

/* contents */
/* section */
#contents>section {
    width: 750px;
    float: left;
    background-color: #bbff87;
    border: 1px solid red;
}
#contents>section article {
    padding: 20px;
    margin-bottom: 10px;
}
#contents>section article h1 {
    margin-bottom: 10px;
}
#contents>section article p {
    line-height: 28px;
}

/* aside */
#contents aside {
    width: 200px;
    float: right;
    background-color: #b1eaff;

}

/* 동위선택자
    div 
    p 
    p
    p
    p

    div + p {color:red}
    => div 바로 뒤에 위치한 p
    div ~ p { color : green}
    => div 뒤에 있는 모든 P
*/

/* first Tab */
input:nth-of-type(1) { display: none;}
/* input태그가 보이지 않게 만든다 */
input:nth-of-type(1) ~ div:nth-of-type(1) {display: none;}
/* input태그가 체크되어 있지 않을 경우에는 뒤에 위치한 div태그를 보이지 않게 만든다 */
input:nth-of-type(1):checked ~ div:nth-of-type(1) { display: block;}
/* input 태그가 체크되어 있을 경우에는  뒤에 위치한 div태그가 보이게 만든다*/

/* second Tab */
input:nth-of-type(2) { display: none;}
/* input태그가 보이지 않게 만든다 */
input:nth-of-type(2) ~ div:nth-of-type(2) {display: none;}
/* input태그가 체크되어 있지 않을 경우에는 뒤에 위치한 div태그를 보이지 않게 만든다 */
input:nth-of-type(2):checked ~ div:nth-of-type(2) { display: block;}
/* input 태그가 체크되어 있을 경우에는  뒤에 위치한 div태그가 보이게 만든다*/

/* 탭모양 구성 */
section.buttons { overflow: hidden;}
section.buttons label {
    display: block;
    width: 100px;
    height: 30px;
    float: left;

    text-align: center;
    line-height: 30px;

    border: 1px solid red;
    box-sizing: border-box;

    background-color: #fff;
    color: #000;
    font-weight: bold;
}

input:nth-of-type(1):checked ~ section.buttons label:nth-of-type(1) {
    background-color: #000;
    color: #fff;
}
input:nth-of-type(2):checked ~ section.buttons label:nth-of-type(2) {
    background-color: #000;
    color: #fff;
}

/* tab item */
.tab_item ul li {
    border: 1px solid #000;
    border-top: 0;
    padding: 10px;
    overflow: hidden;
}
.thumnail {
    float: left;
}
.description {
    float: left;
    margin-left: 10px;
    color: #000;
}
.description strong {
    display: block;
    width: 120px;    
    /* background-color: #1abcf7; */

    /* 글자를 생략할때 항상 몰려다니는 삼총사 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description p {
    font-size: 15px;
    margin-top: 6px;
}

/* footer */

footer h3 {
    text-align: center;
    padding-top: 30px;
}
footer address {
    text-align: center;
    margin-top: 10px;
}